<h1>Pirate</h1>
<p>Pirate name: <%= @pirate.name %></p>
<p>Pirate weight: <%= @pirate.weight %></p>
<p>Pirate height: <%= @pirate.height %></p> 

<h2>First Ship</h2>
<p>Ship 1 name: <%= @ship1.name %></p>
<p>Ship 1 type: <%= @ship1.type %></p>
<p>Ship 1 booty: <%= @ship1.booty %></p>

<h2>Second Ship</h2>
<p>Ship 2 name: <%= @ship2.name %></p>
<p>Ship 2 type: <%= @ship2.type %></p>
<p>Ship 2 booty: <%= @ship2.booty %></p>